<% @page_title = "Edit #{@grade.student.full_name}'s Grade for #{@grade.cohort.name}" %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="<%= course_cohorts_path(@grade.cohort.course) %>"><%= @grade.cohort.course.name %> Cohort</a></li>
    <li class="breadcrumb-item"><a href="<%= course_cohort_path(@grade.cohort.course, @grade.cohort) %>"><%= @grade.cohort.name %> Cohort</a></li>
    <li class="breadcrumb-item active"><%= @page_title %></li>
  </ol>
  <div class="row">
    <div class="col-12">
      <%= bootstrap_form_for @grade do |f| %>
        <%= f.radio_button :pass, 'true', label: "Pass", inline: true %>
        <%= f.radio_button :pass, 'false', label: "Fail", inline: true %>
        <%= f.hidden_field :cohort_id, value: @grade.cohort.id %>
        <%= f.hidden_field :student_id, value: @grade.student.id %>
        <%= f.submit "Update Grade", class: "btn btn-outline-warning" %>
      <% end %>
    </div>
  </div>
</div>
