<% @page_title = "Cohort Roster" %>

<h4><%= @page_title %></h4>

<%# TODO: assign student to cohort %>
<%# link_to("Add to Cohort", new_grade_path, :class => "btn btn-outline-primary btn-sm") %>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Degree</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.id %></td>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <td><%= student.age %></td>
      <td><%= student.degree %></td>
      <!-- TODO: view and edit grades, and remove from course -->
      </form>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
