<% @page_title = "#{@cohort.name}" %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="<%= course_cohorts_path %>"><%= @course.name %> Cohorts</a></li>
    <li class="breadcrumb-item active"><%= @page_title %></li>
  </ol>
  <div class="row">
    <div class="col-12">
      <h4>Cohort Roster</h4>

      <%= render "shared/flash" %>

      <%= bootstrap_form_for @grade, :url => grades_path do |f| %>
          <%= f.collection_select(:student_id, @students_not_in_cohort, :id, :full_name, prompt: true) %>
          <%= f.hidden_field :cohort_id, value: params[:id] %>
          <%= f.submit "Add to Cohort", class: "btn btn-outline-success" %>
      <% end %>

      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Degree</th>
            <th>Grade</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
          <tr>
            <td><%= student.id %></td>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.age %></td>
            <td><%= student.degree %></td>
            <% grade = student.grades.find_by(cohort_id: params[:id]) %>
            <td>
              <% if grade.pass == true %>
                <%= "Pass" %>
              <% elsif grade.pass == false %>
                <%= "Fail" %>
              <% else %>
                <%= "N/A" %>
              <% end %>
            </td>
            <td><%= link_to 'Update Grade', edit_grade_path(grade), :class => 'btn btn-outline-warning btn-sm' %></td>

            <!-- TODO: edit grades, and remove from course -->
            </form>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <h4>Instructor: <%= @instructor.full_name %></h4>
    </div>
  </div>
</div>
