<% @page_title = "Edit Admin" %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="<%= admins_path %>">Admins</a></li>
    <li class="breadcrumb-item active"><%= @page_title %></li>
  </ol>
  <div class="row">
    <div class="col-12">

      <%= bootstrap_form_for @admin do |f| %>
          <%= f.text_field :first_name %>
          <%= f.text_field :last_name %>
          <%= f.text_field :email %>
          <%= f.submit "Update", class: "btn btn-outline-warning" %>
          <%= link_to 'Delete', admin_path, :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger float-right' %>
      <% end %>

    </div>
  </div>
</div>
