<% @page_title = "#{@student.full_name}" %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="<%= students_path %>">Students</a></li>
    <li class="breadcrumb-item active"><%= @page_title %></li>
  </ol>
  <div class="row">
    <div class="col-12">
      <br>
      <h5>Report Card</h5>
      <% if @student.cohorts.any? %>
        <table class="table table-hover mt-3">
          <thead>
            <tr>
              <th>Cohort</th>
              <th>Instructor</th>
              <th>Duration</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody id="all_students">
            <% @student.cohorts.each do |cohort| %>
            <tr>
              <td><%= link_to("#{cohort.name}", course_cohort_path(cohort.course, cohort)) %></td>
              <td><%= link_to("#{cohort.instructor.full_name}", instructor_path(cohort.instructor)) %></td>
              <td><%= cohort.start_date.strftime("%b %d, %Y") %> - <%= cohort.end_date.strftime("%b %d, %Y") %></td>
              <td>
                <% if cohort.grades.find_by(student_id: @student.id).pass == true %>
                  Pass
                <% elsif cohort.grades.find_by(student_id: @student.id).pass == false %>
                  Fail
                <% else %>
                  N/A
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <li>Not currently enrolled in any cohorts</li>
      <% end %>
    </div>
  </div>
</div>
