<% @page_title = "Instructors" %>

<%= render "shared/flash" %>

<%= render partial: "shared/table_heading", :locals => { :body => 'Add New Instructor', :url => new_instructor_path } %>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Degree</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @instructors.each do |instructor| %>
    <tr>
      <td><%= instructor.id %></td>
      <td><%= instructor.first_name %></td>
      <td><%= instructor.last_name %></td>
      <td><%= instructor.age %></td>
      <td><%= instructor.salary %></td>
      <td><%= instructor.degree %></td>
      <td><%= link_to("Details", instructor_path(instructor), :class => 'btn btn-outline-primary btn-sm') %></td>
      <td><%= link_to("Edit", edit_instructor_path(instructor), :class => 'btn btn-outline-warning btn-sm') %></td>
      <td><%= link_to "Delete", instructor_path(instructor), :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger btn-sm' %></td>
      </form>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
