<% @page_title = "Add Instructor" %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="<%= instructors_path %>">Instructors</a></li>
    <li class="breadcrumb-item active"><%= @page_title %></li>
  </ol>
  <div class="row">
    <div class="col-12">

      <%= bootstrap_form_for @instructor do |f| %>
          <%= f.text_field :first_name %>
          <%= f.text_field :last_name %>
          <%= f.number_field :age, max: 149 %>
          <%= f.number_field :salary, min: 1 %>
          <%= f.select :degree, ['HS', 'College', 'Masters', 'PhD'] %>
          <%= f.fields_for :user do |p| %>
            <%= p.text_field :email %>
            <%= p.password_field :password %>
          <% end %>
          <%= f.submit "Add Instructor", class: "btn btn-outline-success" %>
      <% end %>
      <br>

    </div>
  </div>
</div>
