<% if !flash.blank? %>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
<% end %>

<% @page_title = "Courses" %>

<h4><%= @page_title %></h4>

<%= link_to("Add New Course", new_course_path, :class => "btn btn-outline-primary btn-sm") %>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Hours</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.id %></td>
      <td><%= course.name %></td>
      <td><%= course.hours %></td>
      <td><%= link_to("Show Cohorts", course_cohorts_path(course), :class => 'btn btn-outline-primary btn-sm') %></td>
      <td><%= link_to("Edit", edit_course_path(course), :class => 'btn btn-outline-warning btn-sm') %></td>
      <td><%= link_to "Delete", course_path(course), :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger btn-sm' %></td>
      </form>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
